#title {
    float: left;
}
#gallery,
#videos {
    position: relative;
}
#fotos {
    position: relative;
    top: -120px;
}
.gallery {
    margin: 10px auto;
    max-width: 1200px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 900px;
    position: relative;
}
#videos .gallery {
    padding-top: 690px;
}
.gallery_item {
    float: left;
    width: 160px;
}
img {
    max-width: 100%;
    vertical-align: top;
}
.gallery_img {
    left: 0;
    opacity: 0;
    padding: 2rem;
    position: absolute;
    top: 0;
    transition: opacity 0.3s ease-in-out;
}
#video .gallery_img {
    top: 1500px;
}
.gallery_thumb {
    display: block;
    margin: 6px;
    padding-top: 6px;
}
.gallery_selector {
    opacity: 0;
    position: absolute;
    visibility: hidden;
}
.gallery_selector:checked + .gallery_img {
    opacity: 1;
}
.gallery_selector:checked ~ .gallery_thumb > img {
    box-shadow: 4px 4px 0px rgba(62, 84, 216, 1);
}

#videos .gallery_selector:checked ~ .gallery_thumb > img {
    box-shadow: 4px 4px 0px rgba(214, 97, 91, 1);
}

#newsletter .footer-dog {
    margin-left: 0rem;
    margin-right: 3.5rem;
}

/* STICKERS */
#gallery > .container::after {
    background-image: url(../images/stickers/mix_galery_4.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 355px;
    position: absolute;
    right: -170px;
    top: -100px;
    width: 290px;
}
#fotos::before {
    background-image: url(../images/stickers/mix_galery_2.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 374px;
    left: -290px;
    position: absolute;
    top: -20px;
    width: 230px;
}
#fotos::after {
    background-image: url(../images/stickers/mix_galery_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: -380px;
    content: "";
    display: block;
    height: 423px;
    position: absolute;
    right: -290px;
    width: 314px;
}
#videos::before {
    background-image: url(../images/stickers/star_4p_blue@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 84px;
    left: -390px;
    position: absolute;
    top: 30px;
    width: 87px;
}
#videos::after {
    background-image: url(../images/stickers/mix_galery_3.png);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: -90px;
    content: "";
    display: block;
    height: 399px;
    left: -350px;
    position: absolute;
    width: 292px;
}
