#title {
    float: left;
}
#history {
    position: relative;
    top: -120px;
}

.history {
    margin-bottom: 2rem;
    position: relative;
}
.history > div {
    float: left;
    width: 35%;
}
.history .text {
    width: 60%;
}
.card.primary {
    margin-left: 2.5rem;
}
.card.secondary {
    margin-right: 2.5rem;
}

#newsletter .footer-dog {
    margin-left: 0rem;
    margin-right: 3.5rem;
}

/* STICKERS */

#history::before {
    background-image: url(../images/stickers/star_4p_red@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 100px;
    left: -180px;
    position: absolute;
    top: -90px;
    width: 100px;
}
#history > h2::after {
    background-image: url(../images/stickers/mix_origin_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 330px;
    position: absolute;
    right: -185px;
    top: -210px;
    width: 417px;
}

#hist_2::before {
    background-image: url(../images/stickers/mix_origin_2.png);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 180px;
    content: "";
    display: block;
    height: 192px;
    left: -215px;
    position: absolute;
    width: 173px;
}
#hist_3::before {
    background-image: url(../images/stickers/star_9p_red@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 150px;
    left: -230px;
    position: absolute;
    top: -180px;
    width: 150px;
}
#hist_3::after {
    background-image: url(../images/stickers/star_4p_blue@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: -500px;
    content: "";
    display: block;
    height: 70px;
    position: absolute;
    right: -200px;
    width: 70px;
}

.footer-dog::after {
    background-image: url(../images/stickers/star_4p_blue@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 80px;
    position: absolute;
    right: -80px;
    top: -39px;
    width: 80px;
}
