/* WEB FONTS */
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,400;12..96,500;12..96,600;12..96,700;12..96,800&family=Inter:wght@400;500;600;700&display=swap");

/* GENERAL SETTINGS */
* {
    box-sizing: border-box;
}
html {
    color: #343337;
    font-family: "Inter", sans-serif;
    font-size: 16px;
}
body {
    background-color: #f6efe9;
    margin: 0;
    padding: 0;
}
footer {
    background-color: #f0f0f0;
    border-color: #343337;
    border-top: 2px solid;
}
img {
    display: inline-block;
    height: auto;
    width: 100%;
}
h1,
h2,
h3,
h4,
h5,
.btn {
    font-family: "Bricolage Grotesque", sans-serif;
}
h1 {
    font-size: 4rem;
    font-weight: 900;
}
h2 {
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 1px 1px 0px #b2342e;
}
h3 {
    font-size: 2.25rem;
    font-weight: 700;
    text-shadow: 1px 1px 0px #b2342e;
}
h4 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    text-shadow: 1px 1px 0px #b2342e;
}
h5 {
    font-size: 1.25rem;
    font-weight: 500;
    text-shadow: 1px 1px 0px #b2342e;
}
p,
td {
    letter-spacing: 0.2px;
    line-height: 1.5;
}
a {
    transition: all 0.3s ease-in-out;
}
input {
    border: 1px solid;
    border-color: #a9a8ac;
    border-radius: 0;
    display: block;
    margin: 1rem 0;
    padding: 0.5rem;
    width: 100%;
}
input[type="submit"] {
    margin-bottom: 0;
    width: fit-content;
}
.container {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
}
.functional {
    font-size: 0.75rem;
}
aside > .functional {
    color: #a9a8ac;
    text-align: right;
}
.clearfix::after {
    clear: both;
    content: "";
    display: table;
}

/* MENU */
header {
    background-color: #f6efe9;
    border-bottom: 2px solid;
    border-color: #343337;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 98;
}
#logo {
    float: left;
    width: 350px;
}
#menu {
    float: right;
    margin-top: 1.75rem;
}
#menu ul,
#footer-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu li,
#footer-menu li {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.1px;
}
.menu-item a {
    color: #343337;
    display: block;
    text-decoration: none;
    width: 100%;
}
#menu .menu-item {
    background-color: #f6efe9;
    cursor: pointer;
    float: left;
    padding: 0.5rem 1.6rem;
    transition: background-color 0.3s ease-in-out;
}
#menu .menu-item:hover,
#menu .submenu-item:hover {
    background-color: #f2dad9;
}
#menu .submenu {
    background-color: #f6efe9;
    border: 2px solid;
    border-color: #343337;
    display: none;
    left: 0;
    position: absolute;
    top: 2.2rem;
    transition: height 0.3s ease-in-out;
    width: 100%;
    z-index: 99;
}
#menu .menu-item.has-submenu {
    position: relative;
}
#menu .menu-item.has-submenu:hover > .submenu {
    display: initial;
}
#menu .menu-item.has-submenu > i {
    padding-left: 0.5rem;
    transition: all 0.3s ease-in-out;
}
#menu .menu-item.has-submenu:hover > i {
    transform: rotate(180deg);
}
#menu .submenu-item {
    background-color: #f6efe9;
    border-bottom: 1px solid;
    border-color: #343337;
    padding: 0.8rem 1rem;
    transition: background-color 0.3s ease-in-out;
}

/* CARD */
.card {
    background-color: #ffffff;
    border: 2px solid;
    border-color: #343337;
    box-shadow: 4px 4px 0px rgba(52, 51, 55, 1);
    padding: 1.5rem;
}
.card.primary {
    border-color: #b2342e;
    box-shadow: 4px 4px 0px rgba(214, 97, 91, 1);
}
.card.secondary {
    border-color: #1529a3;
    box-shadow: 4px 4px 0px rgba(62, 84, 216, 1);
}
.card h1 {
    color: #d6615b;
    margin: 1.5rem 0;
    text-shadow: 1px 1px 0px #b2342e;
}
.card h4 {
    margin: 1.5rem 0 0;
    text-shadow: none;
}
.card.primary h4,
.card.primary i,
.card.primary a {
    color: #d6615b;
}
.card.primary a:hover {
    background-color: #f2dad9;
    color: #b2342e;
}
.card.secondary h4,
.card.secondary i,
.card.secondary a {
    color: #3e54d8;
}
.card.secondary a:hover {
    background-color: #ebeefc;
    color: #1529a3;
}
.card p {
    margin: 0 0 1rem;
}
.card p:last-of-type {
    margin-bottom: 0;
}
.card a {
    padding: 2px;
    text-decoration: none;
    text-transform: uppercase;
}
.cards .card {
    float: left;
    height: 100%;
    margin: 0 1rem;
    width: 30%;
}
.icon-title + p {
    clear: both;
}
.icon-title i,
.icon-title h4 {
    float: left;
}
.icon-title h4 {
    margin: 0.4rem 0 1.5rem 1rem;
}
.icon-title i {
    font-size: 2.5rem;
}

/* BUTTONS */
.btn {
    background-color: #d6615b;
    border: 1px solid;
    border-color: #343337;
    box-shadow: 4px 4px 0px rgba(52, 51, 55, 1);
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1.75rem;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}
.btn:active {
    border: 2px solid;
    border-color: #343337;
    border-radius: 0;
    box-shadow: 1px 1px 0px rgba(52, 51, 55, 1);
    transform: translateY(4px);
}
.btn:hover {
    background-color: #b2342e;
    cursor: pointer;
}

/* FOOTER */
footer {
    margin-top: 100px;
}
#footer {
    background-color: #343337;
    padding: 2.5rem;
}
#footer h4 {
    margin: 0px;
}
#footer h4,
#footer p,
#footer a,
#footer li {
    color: #ffffff;
}
#newsletter {
    padding: 50px;
}
#newsletter > div,
#branding {
    float: left;
}
#newsletter .card {
    width: 640px;
}
#newsletter h3 {
    margin: 0 0 1.5rem;
}
#newsletter .footer-dog {
    margin-left: 3.5rem;
    width: 400px;
}
#newsletter_form input[type="submit"],
#footer-menu {
    float: right;
}

#branding img {
    float: left;
    width: 90px;
}
#branding div {
    float: right;
    margin-left: 1rem;
    width: 400px;
}
#branding p {
    margin: 0;
}
#footer-menu .menu-item {
    float: left;
    padding: 0.5rem 1.6rem;
}
#footer-menu .submenu-item {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    padding: 0.3rem 0;
}
#footer-menu .submenu-item:first-of-type {
    padding-top: 0.6rem;
}
#footer-menu .menu-item a:hover,
#footer-menu .submenu-item a:hover {
    color: #3e54d8;
}

/* HERO */
#hero {
    background-position: center bottom;
    background-size: cover;
    height: 480px;
}
#home #hero {
    background-image: url("../images/dogs/heros/hero01.jpg");
}
#origin #hero {
    background-image: url("../images/dogs/heros/hero02.jpg");
}
#characteristics #hero {
    background-image: url("../images/dogs/heros/hero03.jpg");
}
#activities #hero {
    background-image: url("../images/dogs/heros/hero04.jpg");
}
#gallery #hero {
    background-image: url("../images/dogs/heros/hero05.jpg");
}
#contact #hero {
    background-image: url("../images/dogs/heros/hero06.jpg");
}

#title {
    float: right;
    position: relative;
    top: -160px;
    width: 700px;
}

#summary {
    margin-bottom: 80px;
    margin-top: -120px;
}
