h3 {
    margin-top: 0;
}
.secondary h3 {
    color: #1529a3;
    text-shadow: 1px 1px 0px #b2342e;
}
.secondary input[type="submit"] {
    background-color: #3e54d8;
}
.secondary input[type="submit"]:hover {
    background-color: #1529a3;
}
#about {
    position: relative;
    top: -120px;
}
#intro > .card {
    float: left;
    padding: 0;
    width: 35%;
}
.text {
    float: left;
    margin-right: 4%;
    width: 60%;
}
.icon-title.secondary {
    color: #1529a3;
}
.icon-title.secondary h4 {
    text-shadow: none;
}
#mapa {
    border: #1529a3 1px solid;
}
#cnt_info {
    margin-top: 4rem;
}
#cnt_info > div {
    float: left;
    width: 48%;
}
#cnt_info .card {
    margin-right: 4%;
}
#intro {
    position: relative;
}

/* STICKERS */
#about > h2::before {
    background-image: url(../images/stickers/mix_contact_2.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 450px;
    left: -270px;
    position: absolute;
    top: -245px;
    width: 371px;
}
#intro > .text::after {
    background-image: url(../images/stickers/mix_contact_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: -260px;
    content: "";
    display: block;
    height: 379px;
    position: absolute;
    right: -280px;
    width: 204px;
}
#cnt_info::before {
    background-image: url(../images/stickers/mix_contact_3.png);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: -315px;
    content: "";
    display: block;
    height: 322px;
    left: -280px;
    position: absolute;
    width: 222px;
}
.footer-dog::before {
    background-image: url(../images/stickers/shine_light_blue@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 155px;
    content: "";
    display: block;
    height: 100px;
    position: absolute;
    right: 208px;
    width: 60px;
}
