#title {
    float: left;
}
#ideas {
    position: relative;
    top: -120px;
}
article.cards:first-of-type {
    margin-top: 4rem;
}
.cards {
    margin: 2rem 0;
}
.card {
    min-height: 265px;
}
#activities {
    position: relative;
}
#newsletter .footer-dog {
    margin-left: 0rem;
    margin-right: 3.5rem;
}

/* STICKERS */
#ideas::before {
    background-image: url(../images/stickers/mix_activ_2.png);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 70px;
    content: "";
    display: block;
    height: 379px;
    left: -250px;
    position: absolute;
    width: 204px;
}
#ideas::after {
    background-image: url(../images/stickers/mix_activ_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 450px;
    position: absolute;
    right: -200px;
    top: -145px;
    width: 371px;
}
.footer-dog::before {
    background-image: url(../images/stickers/heart_blue@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 100px;
    left: -10px;
    position: absolute;
    top: -47px;
    transform: rotate(330deg);
    width: 94px;
}
