/* HOME */
#good_boy {
    margin-bottom: 100px;
}
#good_boy h3 {
    color: #3e54d8;
    font-size: 4rem;
    margin: 0 0 1rem;
    text-shadow: 1px 1px 0px #b2342e;
}
#good_boy article > div {
    float: left;
    width: 50%;
}
#good_boy table {
    border-collapse: collapse;
    margin: 1.5rem 1rem 0 0;
}
#good_boy th,
#good_boy td {
    border-bottom: 1px solid;
    border-color: #343337;
    padding: 0.9rem;
}
#good_boy tr:last-of-type th,
#good_boy tr:last-of-type td {
    border-bottom: none;
}
#good_boy th {
    color: #1529a3;
    font-weight: 800;
    text-align: left;
    width: 30%;
}
#good_boy td {
    width: 70%;
}

/* STICKERS */
#summary::before {
    background-image: url(../images/stickers/firulas1.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 350px;
    left: -150px;
    position: absolute;
    top: -38px;
    width: 250px;
}
#summary::after {
    background-image: url(../images/stickers/firulas2.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 400px;
    position: absolute;
    right: -250px;
    top: 182px;
    width: 300px;
}
#good_boy::before {
    background-image: url(../images/stickers/firulas3.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 500px;
    position: absolute;
    right: -250px;
    top: 620px;
    width: 400px;
}
#good_boy::after {
    background-image: url(../images/stickers/firulas4.png);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 40px;
    content: "";
    display: block;
    height: 500px;
    left: -300px;
    position: absolute;
    width: 300px;
}
.footer-dog::after {
    background-image: url(../images/stickers/heart_blue@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 300px;
    content: "";
    display: block;
    height: 100px;
    position: absolute;
    right: 390px;
    transform: rotate(346deg);
    width: 100px;
}
.footer-dog::before {
    background-image: url(../images/stickers/shine_light_blue@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 160px;
    content: "";
    display: block;
    height: 100px;
    position: absolute;
    right: 208px;
    width: 60px;
}
