#content {
    position: relative;
    top: -120px;
}

h5 {
    margin-top: 0px;
}

table {
    border-collapse: collapse;
}
tr:not(:last-of-type) {
    border-bottom: 1px solid #343337;
}
td {
    padding: 1.5rem;
    vertical-align: top;
}
td > img {
    border: 1px solid #b2342e;
    width: 700px;
}
#colors,
#size,
#activity,
tr {
    position: relative;
}

/* STICKERS */
#colors > h2::before {
    background-image: url(../images/stickers/mix_char_4.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 520px;
    left: -230px;
    position: absolute;
    top: -110px;
    width: 200px;
}
#caoba::after,
#tricolor::after {
    background-image: url(../images/stickers/shine_light_blue@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 55px;
    position: absolute;
    width: 60px;
}
#caoba::after {
    right: -100px;
    top: 200px;
}
#tricolor::after {
    right: -230px;
    top: 100px;
}
#merle > td::before {
    background-image: url(../images/stickers/mix_activ_2.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 379px;
    left: -230px;
    position: absolute;
    top: -140px;
    width: 204px;
}
#biblack::after {
    background-image: url(../images/stickers/mix_char_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 642px;
    position: absolute;
    right: -300px;
    top: -270px;
    width: 252px;
}
#size::before {
    background-image: url(../images/stickers/mix_char_2.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 490px;
    left: -300px;
    position: absolute;
    top: -220px;
    width: 229px;
}
#activity::after {
    background-image: url(../images/stickers/mix_char_3.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 326px;
    position: absolute;
    right: -300px;
    top: 190px;
    width: 185px;
}
.footer-dog::after {
    background-image: url(../images/stickers/heart_red@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 100px;
    position: absolute;
    right: -55px;
    top: -40px;
    transform: rotate(31deg);
    width: 100px;
}
.footer-dog::before {
    background-image: url(../images/stickers/shine_light_blue@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 160px;
    content: "";
    display: block;
    height: 100px;
    position: absolute;
    right: 208px;
    width: 60px;
}
